@page "{learnerUln:long?}"
@model PaymentTools.Pages.LearnerReportModel
@{
    ViewData["Title"] = "LearnerReport";
}

@*<link rel="stylesheet" href="css/learner-report.css"/>*@
<style>
    th {
        text-align: right;
        padding: 5px;
        border-style: dashed;
        border-width: 1px;
    }
    td {
        font-style: italic;
        padding: 5px;
        border-style: dashed;
        border-width: 1px;
    }
    table { border-style: dashed; border-width: 1px; font-size: 11px; }

    .dlock-matched {
        background-color: darkseagreen;
    }

    .dlock-unmatched {
        background-color: lightcoral;
    }

    .dlock-header-row {
        background-color: lightgrey;
    }
</style>

<h1>Learner Report</h1>

<form method="get" id="form">
    Unique Learner Number:
    <input asp-for="LearnerUln"/>
    <input type="submit"
           value="Go!"
           onclick="window.location = '/LearnerReport/' + document.getElementById('LearnerUln').value; return false;"/>
</form>

<hr/>
@if (Model.CollectionPeriods == null || !Model.CollectionPeriods.Any())
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li><a sfa-validation-for="Postcode"></a>No Record found for Unique Learner Number: @Model.LearnerUln</li>
            </ul>
        </div>
    </div>
}
else
{
    <ul class="collection-period unbalanced">
        @foreach (var period in Model.CollectionPeriods)
        {
            <li>
                @period.PeriodName - Paid <strong>@($"{@period.TotalPayments:C}")</strong> / Locked <strong>@($"{@period.TotalLocked:C}")</strong>
                <ul>
                    @foreach (var episode in period.PriceEpisodes)
                    {
                        <li>
                            Price Episode @episode.EpisodeName ◈ Price @($"{episode.Price:C}") ◈ @episode.Act

                            <ul>
                                @foreach (var commitment in episode.Commitments)
                                {
                                    <li>
                                        Commitment <i>@commitment.Id</i>

                                        @if (commitment.Items.Any())
                                        {
                                            <ul>
                                                @foreach (var payment in commitment.Payments)
                                                {
                                                    <li>
                                                        Payment <small>@payment.Id</small>:
                                                        @($"{@payment.Amount:C}")
                                                        @payment.TransactionType
                                                        (@($"{payment.PriceEpisodeIdentifier} ⸗ {payment.CollectionPeriod.AcademicYear}-R{payment.CollectionPeriod.Period:D2}"))
                                                        Delivery Period: @(payment.DeliveryPeriod)
                                                    </li>
                                                }
                                                @if (commitment.DataLocked.Any())
                                                {
                                                    <p>Actual Data Locks</p>
                                                    @foreach (var locked in commitment.DataLocked.OrderBy(x => x.DeliveryPeriod))
                                                     {
                                                         <li>Data Locked - @locked.Amount - @locked.DataLockErrorCode.ToString() - (DataLockEventNonPayablePeriodFailure Id: @locked.Id) - Delivery Period: @(locked.DeliveryPeriod) </li>
                                                     }
                                                }
                                            </ul>
                                        }

                                        <table>
                                            <tr><th></th><td>Current Commitment Data</td><td>Submitted Price Episode Data</td><td>Possible Data Lock</td></tr>
                                            <tr class="@(commitment.Ukprn == episode.Ukprn ? "dlock-matched" : "dlock-unmatched")">
                                                <th>☉ Ukprn</th>
                                                <td>@commitment.Ukprn</td>
                                                <td>@episode.Ukprn</td>
                                                <td>@(commitment.Ukprn == episode.Ukprn ? "" : "DLOCK_01")</td>
                                            </tr>
                                            <tr class="@(commitment.Uln == episode.Uln ? "dlock-matched" : "dlock-unmatched")">
                                                <th>☉ Uln</th>
                                                <td>@commitment.Uln</td>
                                                <td>@episode.Uln</td>
                                                <td>@(commitment.Uln == episode.Uln ? "" : "DLOCK_02")</td>
                                            </tr>
                                            <tr class="@(commitment.StandardCode == episode.StandardCode ? "dlock-matched" : "dlock-unmatched")">
                                                <th>☼ Standard Code</th>
                                                <td>@commitment.StandardCode</td>
                                                <td>@episode.StandardCode</td>
                                                <td>@(commitment.StandardCode == episode.StandardCode ? "" : "DLOCK_03")</td>
                                            </tr>
                                            <tr class="@(commitment.FrameworkCode == episode.FrameworkCode ? "dlock-matched" : "dlock-unmatched")">
                                                <th>☼ Framework Code</th>
                                                <td>@commitment.FrameworkCode</td>
                                                <td>@episode.FrameworkCode</td>
                                                <td>@(commitment.FrameworkCode == episode.FrameworkCode ? "" : "DLOCK_04")</td>
                                            </tr>
                                            <tr class="@(commitment.ProgrammeType == episode.ProgrammeType ? "dlock-matched" : "dlock-unmatched")">
                                                <th>☼ Programme Type</th>
                                                <td>@commitment.ProgrammeType</td>
                                                <td>@episode.ProgrammeType</td>
                                                <td>@(commitment.ProgrammeType == episode.ProgrammeType ? "" : "DLOCK_05")</td>
                                            </tr>
                                            <tr class="@(commitment.PathwayCode == episode.PathwayCode ? "dlock-matched" : "dlock-unmatched")">
                                                <th>☼ Pathway Code</th>
                                                <td>@commitment.PathwayCode</td>
                                                <td>@episode.PathwayCode</td>
                                                <td>@(commitment.PathwayCode == episode.PathwayCode ? "" : "DLOCK_06")</td>
                                            </tr>
                                            <tr class="@(commitment.Cost == episode.Price ? "dlock-matched" : "dlock-unmatched")">
                                                <th>⛁ Cost</th>
                                                <td>@commitment.Cost</td>
                                                <td>@episode.Price</td>
                                                <td>@(commitment.Cost == episode.Price ? "" : "DLOCK_07")</td>
                                            </tr>
                                            <tr class="@(commitment.Start == episode.StartDate ? "dlock-matched" : "dlock-unmatched")">
                                                <th>⚐ Start Date</th>
                                                <td>@commitment.Start</td>
                                                <td>@episode.StartDate</td>
                                                <td>@(commitment.Start == episode.StartDate ? "" : "DLOCK_09")</td>
                                            </tr>
                                        </table>

                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}